.main-layout {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img {
  width: 100%;
  display: flex;
}

.hero {
  position: relative;
  background-image: url("./assets/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(11, 19, 30, 0.7);
  background-blend-mode: darken;
  width: 100%;
}

.logo-link {
  margin-right: 20px;
  flex-shrink: 0;
}

section {
  padding: 60px 0px 80px 0px;
}

.faculty-life {
  background: rgb(0, 51, 102);
  background: linear-gradient(
    to top,
    rgba(0, 51, 102, 1) 0%,
    rgba(15, 82, 186, 1) 100%
  );
}

.partners {
  background: rgb(0, 51, 102) url("./assets/map.png");
}

/* .modal-img:focus-visible {
  outline: none;
} */

.swiper-button-next,
.swiper-button-prev {
  color: red; /* kerakli rangni yozing */
  font-size: 24px; /* kattalik */
}
